<h1>input a new dinosaur</h1>
<form method="POST" action="/dinosaurs">
	<label for="dinoType">Type</label>
	<input id="dinoType" type="text" name="type">

	<label for="dinoName">Name</label>
	<input id="dinoName" type="text" name="name">

	<input type="submit">
</form>

<h1>input another type of prehistoric creature</h1>
<form method="POST" action="/prehistoric_creatures">
	<label for="preCreType">Type</label>
	<input id="preCreType" type="text" name="type">

	<label for="preCreName">Name</label>
	<input id="preCreName" type="text" name="name">

	<input type="submit">
</form>